.announcements-slider {
    position: relative;
    background-color: rgb(0, 61, 191);

    .slide-overlay {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23074CE1' fill-opacity='0.8' d='M0,224L80,234.7C160,245,320,267,480,240C640,213,800,139,960,101.3C1120,64,1280,64,1360,64L1440,64L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z'%3E%3C/path%3E%3C/svg%3E");
        height: 100%;
        background-repeat: no-repeat;
        width: 100%;
        background-size: cover;
    }

    .splide__slide {
        height: 400px;
        background-size: cover;

        &-card {
            max-width: 1200px;
            margin: 0 auto;
            padding: 2.5rem 2rem 2.5rem 1rem;

            .slide-card__title {
                font-family: "Roboto", sans-serif;
                font-weight: bold;
                font-size: 45px;
                color: #fff;
                line-height: 1.2;
                text-shadow: 0px 1px 3px rgba(0, 61, 191, 1);
                display: block;
                padding-bottom: .6rem;
            }

            .slide-card__subtext {
                font-family: "Roboto", sans-serif;
                font-size: 20px;
                color: #fff;
                line-height: 1.2;
                text-shadow: 0px 1px 3px rgba(0, 61, 191, 1);
                display: block;
            }

            .slide_card__action {
                display: inline-block;
                background-color: #ffe600;
                color: #684b00;
                text-align: center;
                padding: 0.5rem 1.5rem;
                border-radius: 25px;
                font-weight: bold;
                margin-top: 1.75rem;

                &:hover,
                &:focus {
                    background-color: #d8c302;
                    transition: 0.5s;
                }
            }
        }
    }
}
