/*
    Homepage headings
*/

#home-content > .container {
    padding: 20px 50px;

    @media screen and (max-width: $breakpoint-small) {
        padding: 20px 20px 50px;
    }
}

.entity-courses {
    padding: 30px 0;
}

/*
    Explore all courses container and button
    To be used in the homepage
*/

.explore-courses-container {
    text-align: center;
    margin: 2rem;

    .explore-all-courses-btn {
        background-color: $action-btn-color;
        text-align: center;
        color: white;
        display: inline-block;
        text-transform: uppercase;
        min-width: 50%;
        font-size: 14px;
        font-weight: 500;
        border-radius: 25px;
        padding: 0.5rem 1rem;

        @media screen and (max-width: $breakpoint-medium) {
            padding: 0.5rem 2.5rem;
        }

        &:hover,
        &:focus {
            background-color: #0640bf;
            transition: 0.3s;
        }
    }
}

#main-container {
    border-radius: 10px;
    box-shadow: 0 1em 1.5em rgba(0, 0, 0, 0.3);
}

#body-content,
.section-container,
.entity-container {
    margin: 0 auto;
    max-width: 1400px;
}

.entity-container {
    padding: 30px 50px 30px 50px
}