/*
    Homepage headings
*/

#homepage {
    h2 {
        margin-top: 35px;
    }
}

#home-content > div.container {
    padding: 20px 50px;

    @media screen and (max-width: $breakpoint-small) {
        padding: 20px 20px 50px;
    }
}

.entity-courses {
    padding: 30px 50px;
}

/*
    Explore all courses container and button
    To be used in the homepage
*/

.explore-courses-container {
    text-align: center;
    margin: 2rem;

    .explore-all-courses-btn {
        border: 2px solid $gray-smalltext-color;
        text-align: center;
        color: $gray-smalltext-color;
        display: inline-block;
        text-transform: uppercase;
        min-width: 50%;
        font-size: 14px;
        font-weight: 500;
        border-radius: 25px;
        padding: 0.5rem 1rem;

        @media screen and (max-width: $breakpoint-medium) {
            padding: 0.5rem 2.5rem;
        }

        &:hover,
        &:focus {
            color: white;
            border-color: $header-bar-color;
            color: $header-bar-color;
            transition: 0.3s;
        }
    }
}
