/* Cookie Bar */

.hidden {
    display: none;
}
.cookie {
    bottom: -45px;
}
.cookie-wrapper {
    font-size: toRem(14px, $font-size);
    padding: 30px 50px;
    text-align: left;
    position: fixed;
    background: rgba(200, 200, 200, .95);
    color: #ffffff;
    width: 100%;
    z-index: 99;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;

    @media screen and (max-width: $breakpoint-medium) {
        width: initial;
        padding: 0px;
    }
}

.cookie-consent {
    padding: 0 50px;

    @media screen and (max-width: $breakpoint-medium) {
        padding: 20px 50px 80px 20px;
    }
}

.btn {
    background-color: rgb(7, 76, 225);
    border-radius: 50px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    padding: 10px 16px;
    text-decoration: none;
    text-indent: 0px;
    text-rendering: optimizelegibility;
    text-transform: uppercase;
    font-size: 0.9em;
    margin-top: 10px;

    &:hover,
    &:focus {
        color: rgba(255, 255, 255, .65);
        text-decoration: none;
        -webkit-transition: background-position 0.1s linear;
        -moz-transition: background-position 0.1s linear;
        -o-transition: background-position 0.1s linear;
        transition: background-position 0.1s linear;
    }
}
