.course-detail {
    background-image: url("../img/waves_courses.svg");
    background-position: top left;
    background-repeat: no-repeat;
    padding: 2rem 0 1rem;
    background-size: 260px;

    @media screen and (min-width: $breakpoint-medium) and (max-width: $breakpoint-fullhd) {
        background-size: 80px;
    }

    @media (max-width: $breakpoint-medium) {
        background: none;
    }

    @media (max-width: $breakpoint-medium) {
        padding: 1rem 0 0 0;
    }

    &-header {
        max-width: $breakpoint-fullhd;
        margin: 0 auto;
        display: flex;
        padding: 30px 50px;
        justify-content: space-between;

        @media screen and (max-width: $breakpoint-small) {
            flex-direction: column;
            padding: 0 30px;
        }
    }

    &-meta {
        flex-grow: 2;
        padding: 0 3rem 0 0;

        &-excerpt {
            font-size: 1.1rem;
            margin-top: 0;
            margin-bottom: 1.8rem;
            color: $gray-smalltext-color;
        }

        h1 {
            font-size: 1.6rem;
            font-weight: 500;
            padding-bottom: 0;
        }

    }

    &-entity {
        display: inline-block;
        margin-bottom: 1rem;

        a > img {
            background-color: white;
            display: block;
            object-fit: contain;
            width: 85px;
            height: 85px;
            border-radius: 10px;
        }
    }

    &-image {
        margin-top: 2.2rem;
        width: 340px;
        height: 205px;
        background-size: contain;
        background-color: white;
        background-position: center center;
        background-repeat: no-repeat;
        box-shadow: 0px 2px 12px #0000291e;
        border-radius: 15px;
        flex-shrink: 0;

        @media screen and (max-width: $breakpoint-medium) {
            display: none;
        }
    }

    &-breadcrumbs {
        margin-bottom: 2rem;

        ul {
            display: flex;
            list-style: none;
            padding: 0;
            margin:0;
            font-size: 0.9rem;

            li {
                padding-inline-end: 0.5rem;

                &::after {
                    padding-inline-start: 0.5rem;
                    content: '/';
                    color: $button-visited-color;
                }

                a {
                    color: $button-visited-color;

                    &:hover, &:focus {
                        text-decoration: underline;
                    }
                }

                &:last-child {
                    &::after {
                        content: '';
                        padding-inline-start: 0;
                    }
                }
            }
        }
    }

    &-enroll {
        .nau_button {
            display: inline-block;
            padding: 0.2rem 1.6rem;
            min-width: 15rem;
            margin: 0;
            border: none !important;

            & > a {
                font-size: 0.8rem;
                box-shadow: none;
            }

            &:hover {
                box-shadow: 0px 2px 6px #00002957;
                transition: 0.5s;
                background: #00308f !important;
                border: none !important;

                & > a {
                    color: white !important;
                }
            }
        }
    }
}

.aside-course-details {
    background-color: $page-color;
    border-radius: 0.6rem;
    padding: 1.25rem 1.9rem;
}

.course-synopse {
    line-height: 1.3em;
    margin: 0px;
    padding: 0px;
    margin-bottom: 0.5em;
    text-align: justify;
    padding-left: 0;

    @media screen and (max-width: $breakpoint-small) {
        padding: 0 1rem;
    }

    h2 {
        position: relative;
        padding: 0px;
        margin-top: 1.5em;
        margin-bottom: 0.5em;
        font-weight: 500 !important;
        line-height: 1.2;
    }

    li {
        clear: left;
    }

    &-actions {
        margin: 2rem auto;
        text-align: left;

        .nau_button {
            display: inline-block;
            padding: 0.2rem 1.6rem;
            min-width: 15rem;
            margin: 0;
            border: none !important;

            & > a {
                font-size: 0.8rem;
                box-shadow: none;
            }

            &:hover {
                box-shadow: 0px 2px 6px #00002957;
                transition: 0.5s;
                background: #00308f !important;
                border: none !important;

                & > a {
                    color: white !important;
                }
            }
        }
    }

    img {
        // prevent images to be too wide on mobile
        max-width: 100%;
    }
}

.knowledge-areas-list {
    list-style: none;
    columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;
    padding: 0;
    margin-block-end: 2.5rem;


    @media screen and (max-width: $breakpoint-small) {
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;

        li {
            margin: 1rem 0;
        }
    }

    @media screen and (min-width: $breakpoint-small) and (max-width: $breakpoint-medium) {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }

    @media screen and (min-width: $breakpoint-medium) and (max-width: $breakpoint-xlarge) {
        columns: 3;
        -webkit-columns: 3;
        -moz-columns: 3;
    }

    .courses-available {
        color: $action-btn-color;
        background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 492.004 492.004' xml:space='preserve' fill='%23074CE1'%3E%3Cg%3E%3Cg%3E%3Cpath d='M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12 c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028 c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265 c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A") no-repeat 10px center,
                    rgba(155, 227, 243, 0.15);
        background-size: 8px;
        padding: 0.2rem 1.2rem 0.2rem 1.5rem;
        border-radius: 25px;

        &:hover, &:focus {
            background-color: rgba(155, 227, 243, 0.35);
        }
    }

    .courses-unavailable {
        color: $gray-smalltext-color;
        background-color: $page-color;
        padding: 0.2rem 1.2rem;
        border-radius: 25px;
    }
}

.knowledge-areas-title {
    margin-top: 0 !important;
    font-size: 1.2rem !important;
    font-weight: 500;
}