.branding-top-nav {
    border-top: solid 0.3em #0857ff;
    border-radius: 0.3em 0.3em 0;
    background-color: $menu-bg-color;
    display: flex;
    justify-content: space-between;
    box-shadow: $menu-shadow;
    padding: 20px 50px 20px 0;

    @media screen and (max-width: $breakpoint-medium) {
        display: block;
    }

    .logo {
        display: inline-block;
        width: 190px;
        height: 30px;
        margin-left: 50px;
        background: url("../img/nau_sempre_aprender.svg") no-repeat center center;

        @media screen and (max-width: $breakpoint-medium) {
            display: inline-block;
            width: 100px;
            background: url("../img/logo-nau-mobile.svg") no-repeat center center;
        }
    }

    li {
        list-style-type: none;
        margin-right: 15px;
    }

    #close-menu-arrow {
        display: none; /* hide closing menu arrow when in desktop */
        font-size: 24px;
    }

    #open-menu-arrow {
        display: none;

        @media screen and (max-width: $breakpoint-medium) {
            display: inline-block;
            font-size: 22px;
            position: absolute;
            width: 40px;
            margin-left: 10px;
        }
    }

    #actions_container {
        #search-input {
            border-radius: 50px;
            height: 33px;
            padding-left: 15px;
            border: 1px solid $header-bar-color;
            font-family: "Roboto", sans-serif;
            padding-right: 25px;
        }
    }
}
