.branding-top-nav {
    border-top: solid 0.3em #0857ff;
    border-radius: 0.3em 0.3em 0;
    background-color: $menu-bg-color;
    display: flex;
    justify-content: space-between;
    box-shadow: $menu-shadow;
    padding: 15px 0 15px;

    .logo {
        width: 190px;
        margin-left: 50px;
    }

    ul {
        padding-top: 9px;
    }

    li {
        list-style-type: none;
        margin-right: 15px;
    }

    #close-menu-arrow {
        display: none; /* hide closing menu arrow when in desktop */
    }
}
