.branding-top-nav {
    border-top: solid 0.3em #0857ff;
    border-radius: 0.3em 0.3em 0;
    background-color: $menu-bg-color;
    display: flex;
    justify-content: space-between;
    box-shadow: $menu-shadow;
    padding: 15px 0 15px;

    @media screen and (max-width: $breakpoint-medium) {
        display: block;
    }

    .logo {
        display: inline-block;
        width: 190px;
        height: 30px;
        margin-left: 50px;
        background: url('../img/nau_sempre_aprender.svg') no-repeat center center;

        @media screen and (max-width: $breakpoint-medium) {
            display: inline-block;
            width: 100px;
            background: url('../img/logo-nau-mobile.svg') no-repeat center center;
        }
    }

    ul {
        padding-top: 9px;
    }

    li {
        list-style-type: none;
        margin-right: 15px;
    }

    #close-menu-arrow {
        display: none; /* hide closing menu arrow when in desktop */
        font-size: 24px;
    }

    #open-menu-arrow {
        display: none;

        @media screen and (max-width: $breakpoint-medium) {
            display: inline-block;
            font-size: 22px;
            position: absolute;
            width: 40px;
            margin-left: 10px;
        }
    }
}
