/* Fonts */
$font-stack: "Roboto", sans-serif;
$font-size: 13px;

/* Colors */
$background-color: #eaeaea;
$text-color: #000000;
$page-color: #f5f5f5;
$header-bar-color: #074CE1;
$vertical-line-color:  #0958FE;
$gray-bar-color: #cccccc;
$gray-smalltext-color: #777777;
$border-color-light: #ffffff;
$button-visited-color: #607D8B;

/* breakpoints */
$breakpoint-small: 576px;  //Mobile phones
$breakpoint-medium: 768px; //Mobilephones portrait and Tablets
$breakpoint-large: 992px; //old resolutions and tablets
$breakpoint-xlarge: 1200px; //PC

$nav-back-color: white;

$popup-video-width: 640px;
$popup-video-height: 480px;

$left-space: 50px;
$right-space: 50px;

/* Cards */
$card-border-radius: 10px;
$card-height: 160px;
$entity-radius: 5px;
$card-content-pad: 0 15px 10px;
$action-btn-color: #074ce1;