.card {
    overflow: hidden;
    float: left;
    display: block;
    height: 400px;
    /* border: solid 1px black; */
    padding: 0px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    transition: 0.2s ease;
    /*flex-grow: 1;*/
    height: auto;
    background: #fffefe 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 7px #0000001a;
    border-radius: 5px 5px 20px 20px;
    opacity: 1;

    box-sizing: border-box;
    position: relative;
    margin-left: 1%;
    margin-right: 0px;
    margin-bottom: 2%;
    margin-top: 0px;
    width: 48.5%;
}

.courses-wrap .card li:nth(3) h3 p span {
    padding: 5px 11px;
    border-radius: 50px;
    background: #88db27;
    color: black;
    font-weight: 400;
}

.rolling-courses-card li:nth-child(2) .start-course-icon,
.rolling-courses-card li:nth-child(2) .know-more-icon {
    margin-top: 0;
    padding: 6px 10px;
    line-height: normal;
}
.rolling-courses-card li:nth-child(2) a.start-course-icon {
    margin-top: 0;
    margin-left: 5px;
    color: white !important;
    cursor: pointer;
    border: 1px solid #fff !important;
    background-color: transparent !important;
}
.rolling-courses-card li:nth-child(2) a.start-course-icon:hover {
    color: white !important;
    cursor: pointer;
    border: 1px solid #fff !important;
    border: 1px solid transparent !important;
}
.rolling-courses-card li:nth-child(2) .know-more-icon {
    margin-top: 0;
    margin-right: 5px;
    padding: 6px 10px;
    line-height: normal;
    border: 1px solid #fff !important;
    color: white !important;
    background-color: transparent !important;
}
.rolling-courses-card li:nth-child(2) .know-more-icon:hover {
    border: 1px solid transparent;
    color: #000 !important;
    background-color: white !important;
}
.rolling-courses-card li p {
    width: fit-content;
    font-size: 12px;
}

ul.card .aside-institution a.banner-entity {
    font-size: 14px;
    text-transform: capitalize;
}
ul.card .aside-institution a.banner-entity:hover {
    color: #000 !important;
}
ul.rolling-courses-card .start-course-icon:hover {
    border: 1px solid transparent !important;
}
ul.rolling-courses-card .aside-institution a.banner-entity {
    color: #fff !important;
}
ul.rolling-courses-card li:nth-child(1) p.course-level {
    display: flex;
    padding-bottom: 15px !important;
    padding-right: 15px;
    text-align: right;
    /* background: transparent url(../img/certificate-icon-white.svg) no-repeat top right;   */
    width: fit-content;
    /* padding-right: 20px; */
}
ul.rolling-courses-card li:nth-child(1) p.course-level span {
    padding-right: 2px;
}
ul.rolling-courses-card .aside-institution a.banner-entity:hover {
    color: #074ce1 !important;
}

body#homepage section#rolling-courses .card li {
    padding: 0px 20px 20px 20px;
}
body#homepage section#rolling-courses .aside-rating-star {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    justify-content: flex-end;
}
body#homepage section#rolling-courses .aside-rating-star img:nth-child(5) {
    padding-right: 0;
}
body#homepage section#rolling-courses .aside-rating-star p.number-of-participants {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-size: 12px;
    padding-top: 6px;
    justify-content: flex-end;
}
body#homepage section#rolling-courses h3 {
    color: white !important;
    width: 100%;
    height: 120px;
}

.card.term .image .card-image {
    object-fit: cover;
    height: 220px;
}

.card.term .title {
    padding-top: 210px;
    padding-left: 20px;
    padding-bottom: 0px !important;
}

.card.term .title h3 {
    padding: 0px !important;
}

.card.term .excerpt {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.card .card-image {
    background-color: #f9f9f9;
    height: 200px;
}

.card .card-image .course-image {
    min-height: 200px;
    max-height: 100%;
    width: 100%;
    z-index: 0;
}

.card .card-content {
    padding: 10px;
    margin-bottom: 0px;
    font-size: 11px;
    height: 150px;
    /* background-color: yellow; */
}

.card .card-content h3 {
    padding-top: 30px;
    margin-bottom: 0px;
    /* background-color: green; */
}

.card .card-content .certificate {
    top: 210px;
}

.card .card-content .date-status-label {
    top: 295px;
}

.card .card-content .date-status-date {
    top: 315px;
}

.card .card-content .end-date {
    top: 315px;
}

.card .card-content .pace-mode {
    top: 315px;
}

.card .card-content .invitaition-mode {
    top: 330px;
}

.card .card-content .number-of-participants {
    top: 295px;
}

.card .course-actions {
    /*  background-color: red;	 */
    width: 100%;
    height: 30px;
}

.card .course-actions .know-more-icon {
    position: absolute;
    width: 40%;
    bottom: 10px;
    left: 10px;
}

.card .course-actions .ednx-enroll-button-js {
    position: absolute;
    width: 40%;
    bottom: 10px;
    right: 10px;
}

.card .top .square-logo,
.card .card-image .square-logo {
    position: absolute;
    z-index: 1;
    left: 11px;
    top: 160px;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    object-fit: contain;
    -webkit-box-shadow: 0px 12px 20px -6px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 0px 12px 20px -6px rgba(0, 0, 0, 0.34);
    box-shadow: 0px 12px 20px -6px rgba(0, 0, 0, 0.34);
    -webkit-box-shadow: 0px 12px 20px -10px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0px 12px 20px -10px rgba(0, 0, 0, 0.37);
    box-shadow: 0px 12px 20px -10px rgba(0, 0, 0, 0.37);
}

.card-content h3 {
    font-size: 15px;
}

.card .card-image .square-logo {
    top: 150px;
}

.card .top .square-logo {
    position: absolute;
    z-index: 1;
    left: 14px;
}
