.container {
    max-width: $page-width;
    margin: 0 auto;
}

#menu-container {
    height: auto;
}

#menu-container a {
    font-size: 13px !important;
}

div#banner-search-form-container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    display: inline;
    position: relative;
    left: 50%;
    right: 50%;
    top: 417px;
}

.entities-wrap {
    display: contents;
    width: 100%;
    display: block;
    /* background-color: green;   /* RR - REMOVE */
    max-width: 100%;
    margin: 0 0 0 0%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: left;
    padding-left: 0%;
    padding-right: 0%;
    margin-right: 10px;
}

/* starts aside */
body#institution aside {
    width: 25% !important;
    min-width: 312px;
    margin-top: 0px;
    padding: 50px;
    background: transparent linear-gradient(180deg, #eeeeee 0%, #f5f5f5 100%) 0% 0% no-repeat padding-box;
    border-radius: 20px 0px 0px 20px;
    opacity: 1;
}

.search-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.search-container .search-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.search-container {  
    font-size: 13px;   
}
