/* search form */
form#search-form {
    /*width: 73%;*/
    position: relative;
}
div#actions_container form#search-form {
    margin-right: 25px;
}
form#search-form input[type="search"] {
    background-color: transparent;
    border-radius: 50px;
    height: 33px;
    text-align: left;
    padding-left: 15px;
    border: 1px solid #9e9e9e;
    outline: none;
    font-family: "Roboto", sans-serif;
    margin-top: -2px;
    padding-right: 25px;
    width: 100%;
    margin: 0 auto;
    z-index: 2;
    position: relative;
}
form#banner-search-form {
    position: relative;
    width: 100%;
}
form#banner-search-form input[type="submit"] {
    position: absolute;
    z-index: 4;
    top: 7px;
    right: 15px;
    background: transparent url(../img/magnifier.svg) no-repeat right center;
    width: 28px;
    border: none;
    outline: none;
    text-indent: -9999px;
    background-size: 26px;
    height: 40px;
    cursor: pointer;
}

form#banner-search-form input[type="search"] {
    /*background-color: transparent;
    position: relative;
    text-align: left;
    padding-left: 24px;
    border: 1px solid transparent;
    outline: none;
    font-family: 'Roboto', sans-serif;
    margin-top: -2px;
    padding-right: 36px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 5px #00000059;
    border-radius: 60px;
    opacity: 0.95;
    height: 47px;
    top: 0;
    font-size: /*1.15em*/ /* 1em;
    letter-spacing: 0;
    color: #6a6969;
    width: 100%*/

    background-color: transparent;
    position: relative;
    text-align: left;
    padding-left: 24px;
    border: 1px solid transparent;
    outline: none;
    font-family: "Roboto", sans-serif;
    margin-top: -2px;
    padding-right: 36px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 5px #00000059;
    border-radius: 60px;
    opacity: 0.95;
    height: 47px;
    top: 0;
    font-size: 1.15em;
    letter-spacing: 0;
    color: #6a6969;
    width: 100%;
}
form#banner-search-form input[type="search"] {
    background-color: transparent;
    position: relative;
    text-align: left;
    padding-left: 24px;
    border: 1px solid transparent;
    outline: none;
    font-family: "Roboto", sans-serif;
    margin-top: -2px;
    padding-right: 47px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 5px #00000059;
    border-radius: 60px;
    opacity: 0.95;
    height: 58px;
    top: 0;
    font-size: 1.15em;
    letter-spacing: 0;
    color: #6a6969;
    width: 100%;
}

form#search-form input[type="submit"] {
    position: absolute;
    z-index: 1;
    top: 3.5px;
    right: 8px;
    background: transparent url(../img/magnifier.svg) no-repeat right center;
    width: 25px;
    border: none;
    outline: none;
    text-indent: -9999px;
    background-size: 16px;
    height: 25px;
    cursor: pointer;
    z-index: 7;
}
form#login-form,
form#register-form {
    display: none;
}

aside form.search-form {
    display: block;
    width: 100%;
    padding-bottom: 50px;
}

input.search-field {
    margin-bottom: 22px;
    width: 315px;
    font-size: 1.2em;
    padding: 1px 28px 1px 7px;
    margin-left: -1px;
    background-color: white;
    border-radius: 10em;
    border: 5px solid #fff;
    box-shadow: 0px 0px 2px rgba(50, 50, 50, 0.5);
    color: black !important;
}

#query input.search-submit {
    position: absolute;
    z-index: 1;
    top: 3.5px;
    right: 8px;
    background: transparent url(../img/magnifier.svg) no-repeat right center;
    width: 25px;
    border: none;
    outline: none;
    text-indent: -9999px;
    background-size: 16px;
    height: 25px;
    cursor: pointer;
    transition: 0.2s edge;
}

input.search-submit:hover {
    filter: grayscale(100%);
    transform: scale(1.2);
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.1em;
    width: 1.1em;
    border-radius: 5px;
    background-color: white;
}

/* On mouse-over, add a grey background color */
.search-container:hover .search-checkbox ~ .checkmark {
    background-color: white;
}

/* When the checkbox is checked, add a blue background */
.search-container .search-checkbox:checked ~ .checkmark {
    background-color: white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.search-container .search-checkbox:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.search-container .checkmark:after {
    left: 7px;
    top: -1px;
    width: 3px;
    height: 10px;
    border: solid #2196f3;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

aside input.search-field {
    font-size: 0.9em;
    margin-bottom: 10px;
}
