/* Fonts */
$font-stack: "Roboto", sans-serif;

/* Colors */
$background-color: #eaeaea;
$text-color: #000000;
$page-color: #f5f5f5;

/* breakpoints */
$page-width: 1280px;

$nav-back-color: white;

$popup-video-width: 640px;
$popup-video-height: 480px;

$left-space: 50px;
$right-space: 50px;
