
$font-stack:          Roboto, sans-serif;
$background-color:    #eaeaea;
$text-color:          black;

$page-color:          #F5F5F5;
$page-width:          1280px;

$nav-back-color:      white;

$popup-video-width:   640px;
$popup-video-height:  480px;

$left-space:            50px;
$right-space:           50px;


/* ---- BASIC STYLES ----- */

h2 {
  text-align: left;  
  font-weight: 500;
  font-size: 22px;  
  letter-spacing: 0.3px;
  color: #060606;
}
h3 {
  text-align: left;  
  font-weight: 500;
  font-size: 19px;  
  letter-spacing: -0.22px;
  color: #000000;
  padding: 0px 0px 0px 0px;
  height: 55px;
}

h4 {
  font-weight: bold;
  padding-bottom: 20px
}

p {
  text-align: left;
  font: Regular 14px/24px Roboto;
  letter-spacing: -0.16px;
  color: #000000;
  padding: 0px 0px 0px 0px;
  line-height: 1.5em;
}

a:link {
  text-decoration: none;
  color: #074CE1;
}

a:visited {  
  color: #a642d7;
}


/* --- UTILS --- */

.flex-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.center {
  align-items: center;
}



/* ---- */

body {

  font-family: $font-stack;
  background-color: $background-color;
  text-rendering: optimizeLegibility;
  color: $text-color;

  &#homepage {
    
    h2 {
      text-align: left;
      font-size: 22px;
      font-weight: 500;
      letter-spacing: -0.22px; 
      margin-bottom: 0px;
      width: 100%;
      padding-bottom: 6px;
    }
    
    div#home-slider {
        position: relative;
        width: 100%;
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    
    
    div#home-content {
        section#entities-nau {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: space-between;
              align-items: stretch;
              margin-bottom: 18px;
              padding-right: 20px;
              width: 100%;
              
              div.entities-wrap {
                display: contents;
                width: 100%;
                
                ul#entities-nau-logos {
                    position: relative;
                     margin-right: 12px;
                     width: 23%;
                     min-width: 273px;
                     height: auto;
                     background: #FFFEFE;
                     box-shadow: 0px 3px 7px #0000001A;
                     border: 1px solid #99999933;
                     border-radius: 5px 5px 20px 20px;
                     
                     li {
                       margin-left: 20px;
                       margin-right: 20px;
                       
                       img {
                         max-width: 100%;
                         float: left;
                         display: block;
                         max-height: 33px;                         
                       }
                     }
                }
              }
        }
    }
    
  }
   
  &.entity { 
    
    
    
  }
   
}

/* -- CONTAINER -- */

div#main-container {
    backround-color: $page-color;
    width: 100%;
    max-width: $page-width;
    margin: 0 0 0 0;
    display: flow-root;
    border-radius: 10px;
}


/* -- FOOTER -- */

footer {

  display: block;
  background-color: white;
  width: 100%;
  min-width: $page-width;
  border-radius: 0px 0px 10px 10px;  

  section#footer-links {
    background-color: #eeeeee;
    padding-top: 22px;
    padding-bottom: 37px;
    
    float: left;
    width: 100%;
    
    #quick-links-section {
    
       
    
    
       .menu {
         display: flex;         
       }
       
       .footer-links-structure {
         width: 25%;         
       }

       a {
          letter-spacing: 0;
          color: #707070;
          opacity: 1;
          text-transform: inherit;
          line-height: 1.8em;
          font-weight: normal;
          padding: 0;
          margin: 0;
          padding-left: 50px;
       }
       
       
       
       h5 {
         font-weight: bold;
         font-size: 15px;
         padding-bottom: 4px;
         float: none;
         clear: both;
         padding-left: 50px;
         color: black;
       }
       
       #social-media #openedx-logo {
         margin-top: 35px;
       }
    }
  }


  section#entities-quick-links {
    height: auto;  
    margin-left: $left-space;
    margin-right: $right-space;
    padding-bottom: 30px;
    padding-top: 25px;
    
    .flex-row {
    
        padding-top: 35px;
        justify-content: space-between;
        align-items: center;

        img#logo-nau {
          width: 192px;
        }
        
        img#logo-compete {
           
        }
        
        img#logo-incode2030 {
           
        }
    
        span#copyright {
          margin-top: 26px;
          font-size: 0.7em;
          letter-spacing: -0.18px;
          display: block;
          color: gray;
        }
    }
  }
}



/* -- HOME CONTENT */

section#hightlighted-courses {
}





/* --- CARDS IN GENERAL --- */

.card {
  position: absolute;
  display: flex;
  line-height: 1.6em;  
  text-indent: 0px;
  padding: 0px;
  left: 21px;
  background-color: white;
  flex-direction: row;
  padding: 5px 10px;
  -webkit-box-shadow: 0px 12px 20px -6px rgba(0,0,0,0.34);
  -moz-box-shadow: 0px 12px 20px -6px rgba(0,0,0,0.34);
  box-shadow: 0px 12px 20px -6px rgba(0,0,0,0.34);
  -webkit-box-shadow: 0px 12px 20px -10px rgba(0,0,0,0.37);
  -moz-box-shadow: 0px 12px 20px -10px rgba(0,0,0,0.37);
  box-shadow: 0px 12px 20px -10px rgba(0,0,0,0.37);
  border-radius: 5px 5px 20px 20px;

  top: 33%;  
  width: 69px;
  height: 75px;
  
}

/* --- COURSES CARDS --- */



/* --- ENTITY CARDS ---- */


/* -- NAV -- */

div#branding-top-nav {
  position: relative;
  top: 0;
  z-index: 3;
  margin: 0 0;
  width: 100%;
  height: 37px;
  max-width: $page-width;
  padding: 17px 0 10px 0;
  vertical-align: middle;
  border-bottom: 1px solid gray;
  background-color: $nav-back-color;
  display: flex;
  justify-content: flex-end;
  
  div#menu-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: #000;
      opacity: 0;
      transition: 0.5s;
      display: none;
      z-index: 1;
      cursor: w-resize;
  }
  
  img#logo {
    width: 190px;
  }
  
}

section#flexible-content-area {
  display: flex;
  width: 100%;
  height: auto;
  max-width: $page-width;  
}

div#home-content {
  padding: 30px 0px 50px 0px;
  display: flex;
}


/* -- VIDEO MODAL --- */

.video-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  display: none;
  z-index: 5;
  width: $popup-video-width;
  height: $popup-video-height;
}

/* Cookie Bar */


.hidden {
    display:none; 
}


/* -- COOKIE --- */

.cookie {
    bottom: -45px;
}


.cookie-wrapper {
  font-size: 14px;    
  padding: 15px 0px 30px 0px;
  text-align: left;
  position: fixed;    
  background: rgba(200,200,200, 93%);
  color: #FFFFFF;
  width: 100%;
  max-width: $page-width;
  height: 50px;	  
  z-index: 99;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;	
  bottom:0;
  margin:0 auto;
  left:0;
  right:0;
  
  p {
    margin-left:50px;
  }
}





/* --- SLIDER -- jssor slider loading skin spin css --- */
                
.jssorl-spin img {
 animation-name: jssorl-spin;
 animation-duration: 1.6s;
 animation-iteration-count: infinite;
 animation-timing-function: linear;
 }

@keyframes jssorl-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


/* -- jssor slider bullet skin 132 css -- */
.jssorb132 {position:absolute;}
.jssorb132 .i {position:absolute;cursor:pointer;}
.jssorb132 .i .b {fill:#fff;fill-opacity:0.8;stroke:#000;stroke-width:1600;stroke-miterlimit:10;stroke-opacity:0.7;}
.jssorb132 .i:hover .b {fill:#000;fill-opacity:.7;stroke:#fff;stroke-width:2000;stroke-opacity:0.8;}
.jssorb132 .iav .b {fill:#000;stroke:#fff;stroke-width:2400;fill-opacity:0.8;stroke-opacity:1;}
.jssorb132 .i.idn {opacity:0.3;}

.jssora051 {display:block;position:absolute;cursor:pointer;}
.jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
.jssora051:hover {opacity:.8;}
.jssora051.jssora051dn {opacity:.5;}
.jssora051.jssora051ds {opacity:.3;pointer-events:none;}

