body {
    font-family: $font-stack;
    font-size: $font-size;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
    background: linear-gradient(0, #444 0, #666 100%);
}

p {
    text-align: left;
    font-family: $font-stack;
    font-size: 1.08rem;
    letter-spacing: -0.16px;
    color: #000000;
    padding: 0px 0px 0px 0px;
    line-height: 1.5em;
}

q {
    text-align: left;
    font-size: 28px;
    font-style: italic;
    letter-spacing: -0.29px;
    color: #000000;
    opacity: 1;
    padding-bottom: 20px;
    display: block;
    font-family: georgia;
    line-height: normal;
}
q:before,
q:after {
    content: "“";
}

/* Makes no sense */
ul,
li,
form {
    float: left;
    display: block;
}

hr {
    margin-bottom: 20px;
    color: $gray-bar-color;
}

footer {
    background-color: #d8d8d8 !important;
    display: flow-root;
}

article {
    background-color: transparent;
    z-index: 2;
    padding: 20px 0px 0 0px;
    width: 100%;
    background: #F5F5F5;
}

pre {
    font-family: Consolas,monospace
}

aside {
	margin-left: 20px;
}
