.video-know-more-icons {
  height: 147px;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.know-more-icon {
  width: 84px;
  padding: 0px;
  margin-left: 10px;
  border-radius: 60px;
  background: #fff 0% 0% no-repeat padding-box;
  text-align: center;
  font: Bold 12px/72px Roboto;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  color: #074ce1;
  opacity: 1;
  line-height: 34px;
}
.know-more-icon {
  width: 84px;
  padding: 0px;
  margin-left: 10px;
  border-radius: 60px;
  background: #fff 0% 0% no-repeat padding-box !important;
  text-align: center;
  font: Bold 12px/72px Roboto;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  color: #074ce1 !important;
  opacity: 1;
  line-height: 34px;
}
.video-know-more-icons {
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: 112px;
  display: flex;
  width: 335px;
  height: auto;
}

ul.card .aside-rating-star {
  display: flex;
  flex-wrap: wrap;
  width: /*45%*//*57%*/
    100% !important;
  justify-content: flex-end;
}

body.secondary-pages /*div#home-slider*/ .aside-rating-star {
  display: flex;
  flex-wrap: wrap;
  /*width: 144px;*/
}
ul.card div .number-of-participants {
  padding-top: 6px;
}
ul.card div img.rating-star {
  padding-right: 7px !important;
  /*width: 10.5% !important;*/
  width: /*9.5%*/ 15px !important;
  padding-bottom: 3px;
}
ul.card div img:nth-child(5) {
  padding-right: 0 !important;
}
body.secondary-pages /*div#home-slider*/ .video-know-more-icons {
  height: 147px;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: 142px;
}

div#home-slider .aside-course-status,
.aside-course-status {
  display: flex;
  flex-wrap: wrap;
  width: 174px;
}
div#home-slider li {
  font-size: 13px;
  padding-bottom: 10px;
  float: right;
}

div#secondary .aside-course-status {
  display: flex;
  flex-wrap: wrap;
  /*width: 174px;*/
}

body#secondary div#home-slider .know-more-icon,
.know-more-icon,
.start-course-icon {
  width: 100px;
  padding: 0;
  margin-left: 0px;
  margin-top: 20px;
  border-radius: 60px;
  background: #074ce1 0% 0% no-repeat padding-box;
  text-align: center;
  //font: Bold 12px/72px Roboto;
  font-family: $font-stack;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  color: #fff;
  opacity: 1;
  line-height: 34px;
}

body#secondary div#home-slider .know-more-icon {
  width: 84px !important;
}
.secondary-institution-name a {
  margin-left: 144px;
  padding-top: 20px;
  color: black !important;
}
body#news .secondary-institution-name a {
  margin-left: 2px;
}
/* starts homepage video icon */
svg#video-icon {
  width: 34px;
}
svg.customise-color-nau-shape {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

div#home-slider .icon-video-triangle,
.icon-video-triangle {
  fill: transparent;
  width: 34px;
  margin: 0 !important;
  padding: 0 !important;
}
div#home-slider .icon-video-circle,
.icon-video-circle {
  fill: white;
  width: 34px;
}
div#home-slider a:hover .icon-video-triangle,
a:hover .icon-video-triangle {
  fill: transparent;
}
div#home-slider a:hover .icon-video-circle,
a:hover .icon-video-circle {
  fill: white;
}
/* ends homepage video icon */
/* starts secondary pages video icon */
svg#video-icon {
  width: 34px;
}
body#secondary div#home-slider .icon-video-triangle,
.icon-video-triangle {
  fill: transparent;
  width: 34px;
  margin: 0 !important;
  padding: 0 !important;
}
body#secondary div#home-slider .icon-video-circle {
  fill: #074ce1;
  width: 34px;
}
body#secondary div#home-slider a:hover .icon-video-triangle,
a:hover .icon-video-triangle {
  fill: transparent;
}
body#secondary div#home-slider a:hover .icon-video-circle {
  fill: #074ce1;
}

.un-menu span:nth-child(1) {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 28px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
}

body#homepage .video-know-more-icons .see-video-icon,
body#homepage .video-know-more-icons .know-more-icon {
  display: none;
}

@media screen and (min-width: 960px) {
  #open-menu-arrow {
    display: none !important;
  }
}

@media (max-width: 450px) {
  #home-content {
    padding-left: 1%;
    padding-right: 1%;
  }

  .card,
  .single-card-width {
    min-width: 100% !important;
    max-width: 100% !important;
    margin-left: 0% !important;
    margin-right: 0% !important;
  }

  div#home-content {
    padding: 20px 10px 50px 22px;
  }

  .double-card-width {
    min-width: 100%;
    max-width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }

  body#homepage div#home-content section {
    padding-right: 0px;
  }

  div#home-content section {
    padding-right: 0px;
  }

  .card {
    margin-bottom: 6%;
    margin-top: 0px;
  }

  footer span#copyright {
    display: flex;
    width: 100%;
  }
}

@media (max-width: 679px) {
  body#homepage div#home-content section {
    padding-right: 0px;
  }

  entities-wrap {
    margin-right: 5px;
  }

  div#home-content {
    padding: 20px 08px 50px 13px !important;
  }

  .card,
  .single-card-width {
    min-width: /*48%*/ 49%;
    max-width: /*48%*/ 49%;
  }

  .double-card-width {
    min-width: 98%;
    max-width: 98%;
  }

  .card .card-image .square-logo {
    left: 10px !important;
  }
}

.un-menu .un-option .un-option-link .un-option-icon {
  width: 8.3%;
  margin: 2px;
}

.entities-wrap .card .card-action .know-more-icon {
  position: absolute;
  right: 5px;
  bottom: 10px;
}