/* Anchor links */
a:link {
    text-decoration: none;
    color: $header-bar-color;
}
a:hover {
    color: $header-bar-color;
    cursor: pointer;
}
a:active {
    color: $text-color;
}
a:visited {
    color: $button-visited-color;
}
/* Course links */
a.start-course-icon {
    color: white !important;
    cursor: pointer;
    border: 1px solid $header-bar-color !important;
    background-color: $header-bar-color !important;
    margin-left: 5px;
}
a.start-course-icon:hover {
    color: $header-bar-color !important;
    cursor: pointer;
    border: 1.5px solid $header-bar-color;
    background-color: white !important;
}
a.know-more-icon {
    display: block;
    color: $header-bar-color !important;
    cursor: pointer;
    border: 1px solid $header-bar-color !important;
    background-color: white !important;
    margin-right: 5px;
}
a.know-more-icon:hover {
    color: white !important;
    cursor: pointer;
    border: 1px solid #074ce1 !important;
    background-color: #074ce1 !important;
}
div.nau_button {
    display: block;
    color: white !important;
    cursor: pointer;
    border: 1px solid $header-bar-color !important;
    background-color: $header-bar-color !important;
    margin-right: 0px;
}

div.nau_button:hover {
    color: $header-bar-color !important;
    cursor: pointer;
    border: 1px solid $header-bar-color !important;
    background-color: white !important;
}

div.nau_button a {
    color: white !important;
    padding-right: 0;
}

div.nau_button:hover a {
    color: $header-bar-color !important;
}

/* Rolling courses links/buttons */

#rolling-courses a.start-course-icon {
    color: white !important;
    cursor: pointer;
    border: 1px solid white !important;
    background-color: transparent !important;
    margin-left: 5px;
}
#rolling-courses a.start-course-icon:hover {
    color: $text-color !important;
    cursor: pointer;
    border: 1.5px solid white;
    background-color: white !important;
}

#rolling-courses div.nau_button {
    display: block;
    cursor: pointer;
    border: 1px solid white !important;
    background-color: white !important;
    margin-right: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rolling-courses div.nau_button:hover {
    color: white !important;
    cursor: pointer;
    border: 1px solid white !important;
    background-color: transparent !important;
}

#rolling-courses div.nau_button a {
    color: $text-color !important;
    padding-right: 0;
}

#rolling-courses div.nau_button:hover a {
    color: white !important;
}

a.see-video-icon {
    border: none;
    /*text-indent: -9999px;*/
    padding-right: 5px;
    background-color: none !important;
}

a.see-video-icon:hover {
    content: url("../img/see-video-icon-blue.svg");
    padding-right: 5px;
}

a.see-video-icon img:nth-child(1) {
    display: block;
}
a.see-video-icon img:nth-child(2) {
    display: none;
}
a.see-video-icon:hover img:first-child {
    display: none;
}
a.see-video-icon:hover img:last-child {
    display: block;
}

a.see-video-icon {
    border: none;
    /*text-indent: -9999px;*/
    padding-right: 5px;
    background-color: none !important;
}
a.see-video-icon:hover {
    content: url("../img/see-video-icon-blue.svg");
    padding-right: 5px;
}

ul.card li:nth-child(4) a.see-video-icon {
    padding: 0 !important;
}

.explore-other-courses {
    padding-left: 50px;
    background: transparent url(../img/explore-all-courses-icon.svg) no-repeat 1px 4px;
}

body.secondary-pages a.banner-entity {
    position: absolute;
    top: 141px;
    left: 190px;
}

div.nau_button a {
    color: #074ce1;
    font-size: 10px;
}

div.nau_button a:hover {
    color: #fff;
}

div.nau_button {
    /*min-width: 100px;*/
    padding: 0;
    margin-left: 0px;
    margin-top: 20px;
    border-radius: 60px;
    border: solid 1px #074ce1;
    background: #ffffff 0% 0% no-repeat padding-box;
    text-align: center;
    font: Bold 12px/72px Roboto;
    letter-spacing: 0.24px;
    text-transform: uppercase;
    color: #fff;
    opacity: 1;
    line-height: 34px;
}

div.nau_button:hover {
    background-color: #074ce1;
    border: solid 2px #ffffff;
}

div.nau_button:hover a:link {
    color: #fff;
}

div.nau_disabled {
    min-width: 100px;
    padding: 0;
    margin-left: 0px;
    margin-top: 20px;
    border: none;
    background: none;
    text-align: right;
    font: Bold 12px/72px Roboto;
    letter-spacing: 0.24px;
    text-transform: uppercase;
    line-height: 15px;
}

div.nau_disabled a {
    color: black;
    pointer-events: none;
    font-size: 11px;
}

a.tag:hover {
    color: white;
    background-color: #074ce1;
}

a.tag {
    color: #074ce1;
    background-color: white;
}

a.category {
    display: none;
}

a.entity {
    background-color: #0857ff;
    border: 5px solid #0857ff;
    color: white !important;
}

.button {
    color: blue;
    /*border: solid 2px blue;*/
    padding: 3px 15px 3px 15px;
    background-color: white;
    border-radius: 1em;
}

.button:hover {
    border: solid 2px white;
    background: blue;
    color: white;
}

div.nau_disabled {
    margin-top: 0px;
}

div.nau_disabled a {
    font-size: 0.8em;
    font-weight: bold !important;
    margin-right: 0 !important;
}

#rolling-courses div.nau_disabled a {
    color: white;
    padding-right: 0;
}

facebook-share-button {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 5px;
    background-size: 100% 100%; /* ou 'contain' */
    background-image: url(assets/img/facebook.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.share-and-start-course ul li,
aside .share-and-start-course ul li a {
    padding-right: 50px !important;
}

aside .share-and-start-course ul li a {
    width: 100%;
}

aside .share-and-start-course ul li:first-child a {
    padding-right: 50px !important;
}

.btn:hover,
.btn:focus {
    color: #074ce1;
    text-decoration: none;

    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}
.btn:hover,
.btn:focus,
.btn:active,
.active.btn,
.disabled.btn,
[disabled].btn {
    background-color: #fff;
}

.news-list .button {
    color: #0857ff;
    padding: 3px 15px 3px 15px;
    background-color: transparent;
    border-radius: 1em;
    font-size: 12px;
    text-transform: capitalize;
    border: 1px solid #074ce1;
}

.news-list .button:hover {
    color: white;
    background-color: #074ce1;
    border: 1px solid #074ce1;
}

div#text-content article.news_article a,
article .news_article h2 a {
    color: #074ce1;
}